engine-strict=true
strict-peer-dependencies=false
shell-emulator=true
auto-install-peers=false
ignore-workspace-root-check=true
link-workspace-packages=false
package-manager-strict=false
registry=https://verdaccio.s21g.com/
@s21g:registry=https://verdaccio.s21g.com/
